[Desktop Entry]
Name=Applications Table
Name[az]=Tətbiqlər Cədvəli
Name[ca]=Taula d'aplicacions
Name[ca@valencia]=Taula d'aplicacions
Name[cs]=Tabulka aplikací
Name[da]=Programtabel
Name[en_GB]=Applications Table
Name[es]=Tabla de aplicaciones
Name[eu]=Aplikazioen taula
Name[fi]=Sovellustaulukko
Name[fr]=Table des applications
Name[ia]=Tabella de applicationes
Name[it]=Tabella delle applicazioni
Name[ko]=프로그램 목록
Name[nl]=Tabel met toepassingen
Name[nn]=Programtabell
Name[pt]=Tabela de Aplicações
Name[pt_BR]=Tabela de aplicativos
Name[ro]=Tabel de aplicații
Name[sk]=Tabuľka aplikácií
Name[sl]=Tabela aplikacij
Name[sv]=Programtabell
Name[uk]=Таблиця програм
Name[x-test]=xxApplications Tablexx
Icon=homerun

Type=Service
X-KDE-ServiceTypes=KSysguard/SensorFace
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=ahiemstra@heimr.nl
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Name=org.kde.ksysguard.applicationstable
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
