[Desktop Entry]
Name=Process Table
Name[ca]=Taula de processos
Name[ca@valencia]=Taula de processos
Name[es]=Tabla de procesos
Name[fr]=Table des processus
Name[it]=Tabella dei processi
Name[nl]=Processentabel
Name[pt]=Tabela de Processos
Name[sk]=Tabuľka procesov
Name[sl]=Tabela procesov
Name[sv]=Processtabell
Name[uk]=Таблиця процесів
Name[x-test]=xxProcess Tablexx
Icon=view-process-system

Type=Service
X-KDE-ServiceTypes=KSysguard/SensorFace
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=ahiemstra@heimr.nl
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Name=org.kde.ksysguard.processtable
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
