[Desktop Entry]
Name=System Monitor
Name[az]=Sistem İzləyici
Name[ca]=Monitor del sistema
Name[ca@valencia]=Monitor del sistema
Name[cs]=Monitor systému
Name[da]=Systemovervågning
Name[de]=Systemmonitor
Name[en_GB]=System Monitor
Name[es]=Monitor del sistema
Name[eu]=Sistemaren begiralea
Name[fi]=Järjestelmänvalvonta
Name[fr]=Surveillance du système
Name[hu]=Rendszermonitor
Name[ia]=Monitor de systema
Name[it]=Monitor di sistema
Name[ko]=시스템 모니터
Name[lt]=Sistemos prižiūryklė
Name[nl]=Systeemmonitor
Name[nn]=Systemovervaking
Name[pl]=Monitor systemowy
Name[pt]=Monitor do Sistema
Name[pt_BR]=Monitor do sistema
Name[ro]=Monitor de sistem
Name[ru]=Системный монитор
Name[sk]=Monitor systému
Name[sl]=Nadzornik sistema
Name[sv]=Systemövervakare
Name[uk]=Нагляд за системою
Name[x-test]=xxSystem Monitorxx
Name[zh_CN]=系统监视器
GenericName=System Monitor
GenericName[az]=Sistem İzləyici
GenericName[ca]=Monitor del sistema
GenericName[ca@valencia]=Monitor del sistema
GenericName[cs]=Monitor systému
GenericName[da]=Systemovervågning
GenericName[de]=Systemmonitor
GenericName[en_GB]=System Monitor
GenericName[es]=Monitor del sistema
GenericName[eu]=Sistemaren begiralea
GenericName[fi]=Järjestelmänvalvonta
GenericName[fr]=Surveillance du système
GenericName[hu]=Rendszermonitor
GenericName[ia]=Monitor de systema
GenericName[it]=Monitor di sistema
GenericName[ko]=시스템 모니터
GenericName[lt]=Sistemos prižiūryklė
GenericName[nl]=Systeemmonitor
GenericName[nn]=Systemovervaking
GenericName[pl]=Monitor systemowy
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ro]=Monitor de sistem
GenericName[ru]=Системный монитор
GenericName[sk]=Monitor systému
GenericName[sl]=Sistemski nadzornik
GenericName[sv]=Systemövervakare
GenericName[uk]=Нагляд за системою
GenericName[x-test]=xxSystem Monitorxx
GenericName[zh_CN]=系统监视器
Exec=plasma-systemmonitor
Icon=utilities-system-monitor
Type=Application
Categories=Qt;KDE;System;
