[Desktop Entry]
Name=System Monitor
GenericName=System Monitor
GenericName[ca]=Monitor del sistema
GenericName[ca@valencia]=Monitor del sistema
GenericName[es]=Monitor del sistema
GenericName[fr]=Surveillance du système
GenericName[nl]=Systeemmonitor
GenericName[pt]=Monitor do Sistema
GenericName[sv]=Systemövervakare
GenericName[uk]=Нагляд за системою
GenericName[x-test]=xxSystem Monitorxx
Exec=plasma-systemmonitor
Icon=utilities-system-monitor
Type=Application
Categories=Qt;KDE;System;
