[Desktop Entry]
Name=KSysGuard (QML)
GenericName=System Monitor
Exec=ksysguardqml
Icon=utilities-system-monitor
Type=Application
Categories=Qt;KDE;System;
