[Desktop Entry]
Name=System Monitor
Name[ca]=Monitor del sistema
Name[ca@valencia]=Monitor del sistema
Name[es]=Monitor del sistema
Name[eu]=Sistemaren begiralea
Name[fi]=Järjestelmänvalvonta
Name[fr]=Surveillance du système
Name[nl]=Systeemmonitor
Name[pt]=Monitor do Sistema
Name[sk]=Monitor systému
Name[sl]=Nadzornik sistema
Name[sv]=Systemövervakare
Name[uk]=Нагляд за системою
Name[x-test]=xxSystem Monitorxx
GenericName=System Monitor
GenericName[ca]=Monitor del sistema
GenericName[ca@valencia]=Monitor del sistema
GenericName[es]=Monitor del sistema
GenericName[eu]=Sistemaren begiralea
GenericName[fi]=Järjestelmänvalvonta
GenericName[fr]=Surveillance du système
GenericName[it]=Monitor di sistema
GenericName[nl]=Systeemmonitor
GenericName[pt]=Monitor do Sistema
GenericName[sk]=Monitor systému
GenericName[sl]=Sistemski nadzornik
GenericName[sv]=Systemövervakare
GenericName[uk]=Нагляд за системою
GenericName[x-test]=xxSystem Monitorxx
Exec=plasma-systemmonitor
Icon=utilities-system-monitor
Type=Application
Categories=Qt;KDE;System;
